DB_NAME=liblis_db
DB_SCHEMA=liblis_dev
DB_USERNAME=liblis
DB_PASSWORD=liblis

RAKUTEN_BOOKS_APP_ID=
RAKUTEN_BOOKS_API_KEY=
RAKUTEN_BOOKS_AFFILIATE_ID=

GOOGLE_BOOKS_API_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=